# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [89]:
# Your code goes here
import pandas as pd
url1 = 'https://raw.githubusercontent.com/drivedudu/lab-dw-data-cleaning-and-formatting/main/data.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

df1 = pd.read_csv(url1)

In [66]:
    def clean_df (data):
        data.columns = data.columns.str.replace(' ', '_')
        data.columns = data.columns.str.lower()
        data.rename(columns= {'st': 'state'}, inplace=True)
        gender_mapping = {'Male': 'M', 'female|Femal': 'F'}
        data['gender'] = data['gender'].replace(gender_mapping, regex=True)
        
        us_states = {
            'Alabama': 'AL',
            'Alaska': 'AK',
            'Arizona': 'AZ',
            'Arkansas': 'AR',
            'California': 'CA',
            'Colorado': 'CO',
            'Connecticut': 'CT',
            'Delaware': 'DE',
            'Florida': 'FL',
            'Georgia': 'GA',
            'Hawaii': 'HI',
            'Idaho': 'ID',
            'Illinois': 'IL',
            'Indiana': 'IN',
            'Iowa': 'IA',
            'Kansas': 'KS',
            'Kentucky': 'KY',
            'Louisiana': 'LA',
            'Maine': 'ME',
            'Maryland': 'MD',
            'Massachusetts': 'MA',
            'Michigan': 'MI',
            'Minnesota': 'MN',
            'Mississippi': 'MS',
            'Missouri': 'MO',
            'Montana': 'MT',
            'Nebraska': 'NE',
            'Nevada': 'NV',
            'New Hampshire': 'NH',
            'New Jersey': 'NJ',
            'New Mexico': 'NM',
            'New York': 'NY',
            'North Carolina': 'NC',
            'North Dakota': 'ND',
            'Ohio': 'OH',
            'Oklahoma': 'OK',
            'Oregon': 'OR',
            'Pennsylvania': 'PA',
            'Rhode Island': 'RI',
            'South Carolina': 'SC',
            'South Dakota': 'SD',
            'Tennessee': 'TN',
            'Texas': 'TX',
            'Utah': 'UT',
            'Vermont': 'VT',
            'Virginia': 'VA',
            'Washington': 'WA',
            'West Virginia': 'WV',
            'Wisconsin': 'WI',
            'Wyoming': 'WY'
        }
        data['state'] = data['state'].replace(us_states, regex=True)
        data['education'] = data['education'].replace("Bachelors","Bachelor")        
        vehicle_class = {"Sports Car|Luxury SUV|Luxury Car" : "Luxury"}
        data['vehicle_class'] = data['vehicle_class'].replace(vehicle_class, regex=True)


        if  data['customer_lifetime_value'].dtype == 'object':
            data['customer_lifetime_value'] = data['customer_lifetime_value'].str.replace("%","")
            data['customer_lifetime_value'] = data['customer_lifetime_value'].astype(float)
        if  data['number_of_open_complaints'].dtype == 'object' :
            data['number_of_open_complaints'] = data['number_of_open_complaints'].str.split('/').str.get(1)
            data['number_of_open_complaints'] = data['number_of_open_complaints'].astype(int)

    
     
        return data

In [88]:
df1.isnull().sum()

A    0
B    0
dtype: int64

In [80]:
df2 = pd.read_csv(url2)
df2 = clean_df(df2)
df2.isnull().sum()
# df2.info()

customer                     0
state                        0
gender                       5
education                    0
customer_lifetime_value      4
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
total_claim_amount           0
policy_type                  0
vehicle_class                0
dtype: int64

In [81]:
df3 = pd.read_csv(url3)
df3 = clean_df(df3)
df3.isnull().sum()
# df3.info()
# df3

customer                     0
state                        0
customer_lifetime_value      0
education                    0
gender                       0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
total_claim_amount           0
vehicle_class                0
dtype: int64

In [90]:
df_concat = pd.concat([df1, df2, df3], axis=0)

In [107]:
# df_concat.head(5)
# df_concat.drop(columns='Unnamed: 0', inplace=True)
display(df_concat.shape)
df_concat.drop_duplicates(inplace=True)

df_concat.shape

(12074, 11)

(9135, 11)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [109]:
# Your code goes here
url4 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df4 = pd.read_csv(url4)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [130]:
summary_table = pd.pivot_table(df4, values='total_claim_amount', index='sales_channel', aggfunc='sum')

In [131]:

summary_table['total_claim_amount'] = summary_table['total_claim_amount'].round(2)

summary_table = summary_table.rename(columns={'total_claim_amount': 'Total Revenue'})

# Exibir a tabela de resumo
display(summary_table)

               Total Revenue
sales_channel
Agent             1810226.82
Branch            1301204.00
Call Center        926600.82
Web                706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [134]:
summary_table_cf = pd.pivot_table(df4, values='customer_lifetime_value', index=['gender', 'education'], aggfunc='mean')
summary_table_cf['customer_lifetime_value'] = summary_table_cf['customer_lifetime_value'].round(2)
display(summary_table_cf)

                             customer_lifetime_value
gender education
F      Bachelor                              7874.27
       College                               7748.82
       Doctor                                7328.51
       High School or Below                  8675.22
       Master                                8157.05
M      Bachelor                              7703.60
       College                               8052.46
       Doctor                                7415.33
       High School or Below                  8149.69
       Master                                8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here